body, #root {
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.wrapper {
  margin: 40px;
}

.center-wrapper {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.right-wrapper {
  margin-left: auto; 
  margin-right: 0;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-box {
  display: flex;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 1em;
  margin-bottom: 10px;
}

.module-box {
  display: flex;
  height: 50px;
  border-bottom: 1px solid rgb(212, 212, 212);
  align-items: center;
}